html {
    font-size: 100%;
  }
  
  body {
    font-family: "Plus Jakarta Sans";
    color: black;
  }
  
  #header {
    padding: 3.75rem 7.5rem 3.75rem 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(4px);
  }
  
  .logo-sign {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  li {
    display: inline;
    list-style: none;
    margin: 3rem;
    font-size: 1rem;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: blue;
  }
  
  button {
    padding: 7.5rem 1.25 7.5rem 1.25rem;
    border-radius: 0.75rem;
    font-size: 1rem;
  }
  
  #contact-me {
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    width: 8.25rem;
  }
  
  #section-separate-1,
  #section-separate-2,
  #section-separate-3,
  #section-separate-4 {
    padding: 3.75rem 7.5rem 3.75rem 7.5rem;
    text-align: center;
    align-items: center;
  }
  
  #main-image {
    width: 100%;
    height: auto;
    padding-bottom: 2.5rem;
    border-radius: 1.5rem;
  }
  
  h1,
  h2 {
    display: inline;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 3.75rem;
    padding: 0 0 3.75rem 0;
  }
  
  p {
    font-size: 1.25rem;
    padding: 2.5rem 0 2.5rem 0;
  }
  
  #get-touch {
    width: 14rem;
    height: 4rem;
  }
  
  .cards {
    margin-top: 3.75rem;
    display: flex;
    justify-content: center;
  }
  
  .card {
    width: 20.5rem;
    height: auto;
    margin: 2rem;
    border-radius: 1.5rem;
    background-color: rgb(231, 230, 230);
  }
  
  .card-image {
    width: 75%;
    height: auto;
    border-radius: 1.5rem;
  }
  
  .inside-card {
    height: 11rem;
    padding: 1.5rem;
  }
  
  h3 {
    font-size: 1.375rem;
  }
  
  h4 {
    font-size: 1.125rem;
  }
  
  .button-learn {
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    width: 8.25rem;
    display: none;
  }
  /* not working rule for visible only on hover */
  /* .button-learn:hover {
  } */
  
  table {
    margin: 3.75rem 7.5rem 0 7.5rem;
    display: flex;
    justify-content: center;
  }
  
  .step-separate {
    text-align: left;
  }
  
  .number-circle {
    font-size: 1.375rem;
    border-radius: 50%;
    width: 2.125rem;
    height: px;
    padding: 0.3rem;
    border: 0.125rem solid;
    text-align: center;
  }
  
  .step-describe {
    font-size: 1.125rem;
    font-style: italic;
    padding-top: 1.25rem;
    border-top: 0.06rem solid;
  }
  
  form {
    padding-bottom: 6.25rem;
    display: grid;
    justify-content: center;
  }
  
  #name,
  #email {
    display: inline;
    width: 15.125rem;
    height: 2.8rem;
    padding-left: 0.625rem;
    margin: 0 1.25rem 2.5rem 0;
    background-color: #383636;
  }
  
  #message {
    width: 100%;
    height: 5rem;
    background-color: #383636;
    margin-bottom: 2.5rem;
    padding: 0.625rem 0 0 0.625rem;
  }
  
  #button-sendmessage {
    padding: 0.875rem 1.75rem 1.25rem 1.75rem;
    border-radius: 0.75rem;
    font-size: 1.25rem;
    width: 12rem;
  }
  
  #footer {
    padding: 3.75rem 7.5rem 3.75rem 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 70%;
    }
  
    body {
      text-align: center;
      align-items: center;
    }
  
    #header,
    #section-separate-1,
    #section-separate-2,
    #section-separate-3,
    #section-separate-4,
    #footer {
      padding: 2rem 2.5rem 2rem 2.5rem;
    }
  
    ul {
      margin: 0 0.75rem 0 0.75rem;
      padding: 0;
      width: 3.75rem;
      display: block;
    }
  
    li a {
      display: block;
    }
  
    .cards {
      display: block;
    }
  }
  
  